#external_css{
	background-color: pink;
	width: 90%;
	margin: auto;
}

img {
	max-width: 100%;
	
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#external_css h2 {
	text-align: center;
}